doctype html
html
  head
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type='text/css', href='/components/Materialize/dist/css/materialize.min.css',  media="screen,projection")
    title Buying IQ - Mobiles
    
  body
    div.container
  
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/underscore/underscore-min.js")
    script(src="/components/Materialize/dist/js/materialize.min.js")
    script(src="/components/react/react.js")
    script(src="/components/react/JSXTransformer.js")
    script(src="/javascripts/index.js", type="text/jsx")
